.site-header {
    background-color: #000000e6;
    color: white;
    text-shadow: black 6px 6px 9px;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    border-radius: 50%;
    height: 190px;
    width: 200px;
    align-items: center;
    box-shadow: #000000f7 7px 7px 14px 3px;
}

.site-redirect {
    color: #ff5b91;
    text-shadow: black 6px 6px 9px;
}

.site-header-content{
    margin: 10px;
    text-align: center;
}

.h1-text{
    color: #ff5b91;
    text-shadow: black 6px 6px 9px;
}

body{
    margin: 0%;
}
