.site-header {
    color: #000000;
    height: 100vh;
    font-family: 'Mandali', sans-serif;
    font-family: 'Wire One', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('file:///C:/Users/arvee/ProfileA/2.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
    width:100%;
}

.profile {
    border-radius: 50%;
    height: 190px;
    width: 200px;
    align-items: center;
}

.site-redirect {
    color: #ff00a5;
}

.site-header-content{
    margin: 10px;
    text-align: center;
}

.h1-text{
    color: #000000;
}

.insta-link{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: bottom;
}

.linkedin-link{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: bottom;
}

.row {
    display: flex;
    justify-content: top;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 0;
    padding: 5px;
}

.site-redirect1{

}

.site-redirect2{

}

body{
    margin: 0%;
    background: #ffffff url ('../img/wide1.jpg')
}
